<h1>All Room Posts</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Owner</th>
      <th>Address</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @room_posts.each do |room_post| %>
      <tr>
        <td><%= room_post.id %></td>
        <td><%= room_post.owner %></td>
        <td><%= room_post.address %></td>
        <td><%= room_post.description %></td>
        <td>
          <%= button_to "Eliminar", room_post_path(room_post), method: :delete, data: { confirm: "¿Estás seguro?" } %>
        </td>
        <td>
          <%= link_to "Detalles", view_room_post_path(room_post), class: "btn btn-secondary" %>
        </td>      
        <td>
          <%= link_to "Editar", edit_room_post_path(room_post) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
